*{
    font-family: 'Teen', Arial, Helvetica, sans-serif;
    margin:0px;
}
#logo{
    height: 100px;
    width: 140px;
}
#banner{
    background-color: rgb(20, 20, 20);
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    z-index: 1;
}
a{
    color:rgb(250, 250, 250);
    padding:15px;
    text-decoration:none;
}
#bottomIMG{
    margin-top: 50px;
}
.menu{
    float: right;
    margin-right:30px;
    font-size: 18px;
}
.menu a:hover{
    text-decoration: none;
    color: rgb(255, 187, 1);
    border-radius: 8px;
}
#home-btn{
    padding:0px;
}

/*Body*/
#content{
    position: relative;
    top:120px;
}
h1, p{
    color: rgb(20, 20, 20);
}
h1{
    margin-top:40px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.container{
    margin:0px auto;
}
.container .stripe{
    display:flex;
    align-content: center;
    margin:30px 0px;
}
.stripe1 img{
    height:80%;
}
.stripe2 .left img, .stripe3 .right img{
    height:180px;
    border-radius: 40px;
}


/*MODAL style */
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
/* button {
    background-color: rgb(16, 73, 119);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    ;
} */

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: rgb(16, 73, 119);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    background-color: rgb(16, 73, 119);
    color: white;
    opacity: 0.9;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  float: left;
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(20, 20, 20, 0.8);
    padding-top: 50px;
}
#bottomIMG{
    border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}