*{
    font-family: 'Teen', Arial, Helvetica, sans-serif;
    margin:0px;
    text-align: center;
}
.report{
    
    background-color: rgb(16, 73, 119);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
#page{
    opacity:0;
    transition: opacity 2s ease-in-out;
}
#content{
    display: flex;
    justify-content: center;
}
#stolenForm{
    display: none;
    bottom: 0;
    height: 300px;
    background-color: rgba(133, 133, 133, 0.7);
}
h3{
    position: relative;
    top:75px;
}
#page.ready{
    opacity:1;
}
.parameterRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropList{
    width: 150px;
}
.searchInput{
    width: 450px;
}
.categoriesAndSearch{
    position: relative;
    top:115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#categories{
    border-right: none;
    border-left: none;
    color: rgb(16, 73, 119);
}

#categories .nav-btn{
    display: inline-block;
    margin:0px 10px;
}

.product{
    display: inline-block;
    border: 1px solid rgba(255,0,0,0.4);
    text-align: left;
    padding: 5px;
    width: 200px;
    vertical-align: top;
    margin: 10px;
}

.product .title{
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imgwrapper{
    display: flex;
    justify-content: center;
    align-items: center
}

.product .img{
    height: 175px;
    width:175px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product .desc{
    font-size: 12px;
    color: #666;
    font-family: Arial;
    height:50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.product .fav{
    opacity:0;
    color:yellow;
}


.product.favorite .fav{
    opacity:1;
}

