*{
    font-family: 'Teen', Arial, Helvetica, sans-serif;
    margin:0px;
}

#page{
    opacity:0;
    transition: opacity 2s ease-in-out;
}
#content{
    display: flex;
    justify-content: center;
}
#page.ready{
    opacity:1;
}
.parameterRow{
    display: flex;
    justify-content: center;
    align-items: center;
}
button.searchTermBtn{
    padding-top: -15px;
}
.plusBtn{
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    text-align: center;
}
.plusBtn:hover{
    color: rgb(255, 187, 1);
    text-decoration: none;
}
.searchBtn{
    text-align: center;
    height: 30px;
    width: 65px;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: white;
}
.searchBtn:hover{
    color: rgb(255, 187, 1);
    text-decoration: none;
}
.dropList{
    width: 150px;
}
.searchInput{
    width: 450px;
}
.categoriesAndSearch{
    position: relative;
    top:75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#categories{
    width: 600px;
    border-right: none;
    border-left: none;
    display: flex;
    justify-content: space-around;
    color: rgb(20, 20, 20);
}
.nav-btn:hover{
    border-radius: 4px;
    color: rgb(255, 187, 1);
}
.product{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 5px;
    width: 200px;
    vertical-align: top;
    margin: 10px;
}

.product .title{
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product .img{
    height: 175px;
    width:175px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.imgwrapper{
    display: flex;
    justify-content: center;
    align-items: center
}
.product .desc{
    font-size: 12px;
    color: #666;
    font-family: Arial;
    height:50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.product .fav{
    opacity:0;
    color:yellow;
}


.product.favorite .fav{
    opacity:1;
}

