<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>BIKE APP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./staticfiles/css/landing.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="" type="text/javascript"></script>
</head>

<body>
	<div id="banner">
		<a id="home-btn" href="index.html">
			<img src="./staticfiles/images/logo.png">
		</a>
		<div class="menu">
			<a onclick="document.getElementById('id01').style.display='block'">Add Your Bike</a>
			<a href="./davidFiles/index.html">Search the Registry</a>
			<a href="bikesShow">Your Bikes</a>
		</div>
	</div>
	<!-- ADDED SHIT BELOW HERE -->
	<h2>Modal Signup Form</h2>

<!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button> -->

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="addBike">
    <div class="container-fluid">
      <h1>Add Your Bike</h1>
      <p>Please fill out the details about your bike to add them to the registry.</p>
      <hr>
      <label><b>First Name:</b></label>
	  <input type="text" placeholder="First Name" name="firstName" required>
	  <br />
	  <label><b>Last Name:</b></label>
      <input type="text" placeholder="Last Name" name="lastName" required>
	  <br />
      <label><b>Serial Number:</b></label>
      <input type="text" placeholder="Serial Number" name="serial" required>
	  <br />
      <label><b>Features:</b></label>
	  <input type="text" placeholder="Features" name="features" required>
	  <br />
	  <label><b>Class:</b></label>
      <input type="text" placeholder="Features" name="class" required>
      <br />
      <label>
        <input type="checkbox" checked="checked" style="margin-bottom:15px" name="stolen"> Stolen?
      </label>

      <p>By adding your bike you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
		<button type="submit" class="signupbtn">Add Bike</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
		<br />
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
	<!-- ADDED SHIT ABOVE HERE -->
	<div id="content">
        <div class="container">
            {%if bikes %}
            <ul>
                {% for bike in bikes %}
                <li>{{bike.serial_number}}  -- FakeUser -- {{date_added}} <a href="#">remove</a>  <a href="#">declare theft</a> </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>


	</div>
</body>

</html>


</html>