    {% load staticfiles %}
<div class="container">
    <div class="stripe stripe1 row">
        <div class="left align-middle col-lg-6 col-md-6 col-sm-6">
            <h1>Be Proactive</h1>
            <p>Add your bike to our database so you can act quickly in case of theft. Enter a complete profile of your bike, including
                any unique identifying characteristics, so our users can easily identify a bike marked as stolen in our database.</p>
        </div>
        <div class="right center align-middle col-lg-6 col-md-6 col-sm-6">
            <img class="img-fluid center-block" src="{% static 'images/new_bike.jpg' %}" alt="new bike">
        </div>
    </div>
    <div class="stripe stripe2 row">
        <div class="left center align-middle col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid center-block" src="{% static 'images/lock.jpeg' %}" alt="new bike">
            </div>
        <div class="right align-middle col-lg-6 col-md-6 col-sm-6">
            <h1>Be Safe</h1>
            <p>Use our <a href="mapDisplay">interactive map</a> to find a safe location to store your bike. Every time a bike gets stolen, we want to know where.
                We use this data to help you avoid areas prone to theft so you can keep your bike safe.</p>
        </div>
    </div>
    <div class="stripe stripe3 row">
        <div class="left align-middle col-lg-6 col-md-6 col-sm-6">
            <h1>Be Aware</h1>
            <p>When buying second-hand, use our database to ensure you're buying a clean bicycle. You can search for bikes by serial number, make and model, and other key words to ensure the bike you're buying doesn't belong to someone else.</p>
        </div>
        <div class="right center col-lg-6 col-md-6 col-sm-6">
            <img class="img-fluid center-block" src="{% static 'images/serial.jpg' %}" alt="new bike">
        </div>
    </div>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

    <div id="chart"></div>
    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script>
function renderChart() {

var data = d3.csv.parse(d3.select('#csv').text());
var valueLabelWidth = 40; // space reserved for value labels (right)
var barHeight = 20; // height of one bar
var barLabelWidth = 100; // space reserved for bar labels
var barLabelPadding = 5; // padding between bar and bar labels (left)
var gridLabelHeight = 18; // space reserved for gridline labels
var gridChartOffset = 3; // space between start of grid and first bar
var maxBarWidth = 420; // width of the bar with the max value
 
// accessor functions 
var barLabel = function(d) { return d['Name']; };
var barValue = function(d) { return parseFloat(d['Number of Bikes Stolen']); };
 
// scales
var yScale = d3.scale.ordinal().domain(d3.range(0, data.length)).rangeBands([0, data.length * barHeight]);
var y = function(d, i) { return yScale(i); };
var yText = function(d, i) { return y(d, i) + yScale.rangeBand() / 2; };
var x = d3.scale.linear().domain([0, d3.max(data, barValue)]).range([0, maxBarWidth]);
// svg container element
var chart = d3.select('#chart').append("svg")
  .attr('width', maxBarWidth + barLabelWidth + valueLabelWidth)
  .attr('height', gridLabelHeight + gridChartOffset + data.length * barHeight);
// grid line labels
var gridContainer = chart.append('g')
  .attr('transform', 'translate(' + barLabelWidth + ',' + gridLabelHeight + ')'); 
gridContainer.selectAll("text").data(x.ticks(10)).enter().append("text")
  .attr("x", x)
  .attr("dy", -3)
  .attr("text-anchor", "middle")
  .text(String);
// vertical grid lines
gridContainer.selectAll("line").data(x.ticks(10)).enter().append("line")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
  .style("stroke", "#ccc");
// bar labels
var labelsContainer = chart.append('g')
  .attr('transform', 'translate(' + (barLabelWidth - barLabelPadding) + ',' + (gridLabelHeight + gridChartOffset) + ')'); 
labelsContainer.selectAll('text').data(data).enter().append('text')
  .attr('y', yText)
  .attr('stroke', 'none')
  .attr('fill', 'black')
  .attr("dy", ".35em") // vertical-align: middle
  .attr('text-anchor', 'end')
  .text(barLabel);
// bars
var barsContainer = chart.append('g')
  .attr('transform', 'translate(' + barLabelWidth + ',' + (gridLabelHeight + gridChartOffset) + ')'); 
barsContainer.selectAll("rect").data(data).enter().append("rect")
  .attr('y', y)
  .attr('height', yScale.rangeBand())
  .attr('width', function(d) { return x(barValue(d)); })
  .attr('stroke', 'white')
  .attr('fill', 'steelblue');
// bar value labels
barsContainer.selectAll("text").data(data).enter().append("text")
  .attr("x", function(d) { retCHE6tvmvnyAeKaAtVnDdurn x(barValue(d)); })
  .attr("y", yText)
  .attr("dx", 3) // padding-left
  .attr("dy", ".35em") // vertical-align: middle
  .attr("text-anchor", "start") // text-align: right
  .attr("fill", "black")
  .attr("stroke", "none")
  .text(function(d) { return d3.round(barValue(d), 2); });
// start line
barsContainer.append("line")
  .attr("y1", -gridChartOffset)
  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
  .style("stroke", "#000");

}
    </script>
    <script id="csv" type="text/csv">Name,Number of Bikes Stolen,Average Life Expectancy,Area (1000 sq mi),Continent
Bat Yam,33,80.7,3854.085,Israel
Tel Aviv,308,78.2,3784.191,Israel
Holon,82,79.4,137.847,Israel
Herziliya,141,65.5,6601.668,Israel
Rishon Letsiyon,108,76.06,758.449,Israel
Ramat Gan,193,71.99,3287.612,Israel
Bnei Brak,46,80.9,195.365,Israel
Netanya,65,80.98,244.339,Israel
China,1339,73,3705.407,Asia
</script>
    <script>renderChart();</script>

</div></div>