<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 41.153495666666664 , lng: -8.629041},
          mapTypeId: 'terrain'
        });
        var cityCircle
        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
          {% for eltLn, eltLg, eltW in means %}
          // Add the circle for this city to the map.
           cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: {lng:{{eltLn}}, lat:{{eltLg}}},
            radius: 10 * {{eltW}}
          });
      {% endfor %}

      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTmGpXVo-tPw-wONIaC57clk7MpuNJ2KQ&callback=initMap">
    </script>
  </body>
</html>